package ${packageName};

/* package */ class ${className} {
    /* package */ static final String BUNDLE_NAME = "${bundleName}";

<% def propPattern = ~/[.-]/ %><% for (prop in keys) { %> <% def propKey = propPattern.matcher(prop.toUpperCase()).replaceAll("_") %>
    public static final String ${propKey} = "${prop}";
<% } %>
}
